*{
  margin : 0
}

body {
  font-family: 'Inter', sans-serif;
}

select, input[type="number"], textarea {
  font-family: 'Inter', sans-serif;
}

main, .page-container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background: #f4f7f6;
}

:root {
  --primary-color: #C55DFF;
  --primary-dark: #2563eb;
  --primary-light: #C55DFF;
  --secondary-color: #10b981;
  --danger-color: #ef4444;
  --warning-color: #f59e0b;
  --info-color: #06b6d4;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --text-muted: #9ca3af;
  --btn-primary: linear-gradient(90deg, #5D6DFF 0%, #C55DFF 50%,  #FF935D 100%);
  --btn-secondary: linear-gradient(180deg, #5D6DFF 0%, #C55DFF 100%);
  --bg-primary: linear-gradient(180deg, #5D6DFF 0%, #C55DFF 45%, #FF935D 100% );
  --bg-secondary: #f3f4f6;
  --bg-tertiary: #e5e7eb;
  --border-color: #d1d5db;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --radius-sm: 4px;
  --radius: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}