<div class="register-page">
  <form (ngSubmit)="onRegisterSubmit()" [formGroup]="registerForm">
    <h1>Crear Cuenta</h1>
  
    @if (errorMessage) {
    <div class="alert-error">{{ errorMessage }}</div>
    }

    <fieldset>
      <input formControlName="email" type="email" placeholder="Correo electrónico" />
      @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')) {
        <small class="error-message">El correo electrónico es obligatorio</small>
      }
      @else if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')) {
        <small class="error-message">El correo electrónico no es válido</small>
      }
    </fieldset>
  
    <fieldset>
      <input formControlName="name" type="text" placeholder="Nombre" />
      @if (registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')) {
        <small class="error-message">El nombre es obligatorio</small>
      }@else if (registerForm.get('name')?.touched && registerForm.get('name')?.hasError('maxlength')) {
        <small class="error-message">El nombre es muy largo</small>
      }
    </fieldset>
  
    <fieldset>
      <input formControlName="surname" type="text" placeholder="Apellido" />
      @if (registerForm.get('surname')?.touched && registerForm.get('surname')?.hasError('required')) {
        <small class="error-message">El apellido es obligatorio</small>
      }@else if (registerForm.get('surname')?.touched && registerForm.get('surname')?.hasError('maxlength')) {
        <small class="error-message">El apellido es muy largo</small>
      }
    </fieldset>
  
    <fieldset>
      <input formControlName="phone" type="text" placeholder="Teléfono" />
      @if (registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('required')) {
        <small class="error-message">El número de teléfono es obligatorio</small>
      }@else if (registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('pattern')) {
        <small class="error-message">El teléfono solo debe contener números (sin espacios ni símbolos)</small>
      }@else if (registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('maxlength')) {
        <small class="error-message">El número de teléfono es muy largo</small>
      }
    </fieldset>
  
    <fieldset class="password">
      <input [type]="showPassword ? 'text' : 'password'" 
         formControlName="password" 
         placeholder="Contraseña" />
  
      @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')) {
        <small class="error-message">La contraseña es obligatoria</small>
      }

      <button class="password-button" type="button" (click)="togglePasswordVisibility()" >
        <span class="material-icons">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </button>
         
      <div class="requirements-list">
        @for (req of passwordRequirements; track req.label) {
          <div class="requirement" [class.met]="isRequirementMet(req.regex)">
            <span class="dot"></span>
            <small>{{ req.label }}</small>
          </div>
        }
      </div>
    </fieldset>

    <fieldset class="password-confirm">
      <input [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword" type="password" placeholder="Confirmar Contraseña" />

      <button class="password-button-confirm" type="button" (click)="togglePasswordConfirmVisibility()" >
        <span class="material-icons">
          {{ showPasswordConfirm ? 'visibility_off' : 'visibility' }}
        </span>
      </button>

      @if (registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordMismatch')) {
        <small class="error-message">Las contraseñas no coinciden</small>
      }
    </fieldset>

    <fieldset class="checkbox-container">
      <label class="checkbox-label">
        <input type="checkbox" formControlName="notificationsEnabled" />
        Acepto recibir correos con novedades y actualizaciones de mis pedidos.
      </label>
    </fieldset>
  
    <button class="submit-button" type="submit">Registrarse</button>
  </form>
</div>

  