<form (ngSubmit)="onRegisterSubmit()" [formGroup]="registerForm">
    <h1>Crear Cuenta</h1>
  
    @if (errorMessage) {
    <div class="alert-error">{{ errorMessage }}</div>
    }

    <fieldset>
      <input formControlName="email" type="email" placeholder="Correo electrónico" />
      @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')) {
        <small>El correo electrónico es obligatorio</small>
      }
      @else if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')) {
        <small>El correo electrónico no es válido</small>
      }
    </fieldset>
  
    <fieldset>
      <input formControlName="name" type="text" placeholder="Nombre" />
      @if (registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')) {
        <small>El nombre es obligatorio</small>
      }
    </fieldset>
  
    <fieldset>
      <input formControlName="surname" type="text" placeholder="Apellido" />
      @if (registerForm.get('surname')?.touched && registerForm.get('surname')?.hasError('required')) {
        <small>El apellido es obligatorio</small>
      }
    </fieldset>
  
    <fieldset>
      <input formControlName="phone" type="text" placeholder="Teléfono" />
      @if (registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('required')) {
        <small>El teléfono es obligatorio</small>
      }
    </fieldset>
  
    <fieldset class="password">
      <input [type]="showPassword ? 'text' : 'password'" 
         formControlName="password" 
         placeholder="Contraseña" />
  
      <button class="password-button" type="button" (click)="togglePasswordVisibility()" >
        <span class="material-icons">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </button>
         
      <div class="requirements-list">
        @for (req of passwordRequirements; track req.label) {
          <div class="requirement" [class.met]="isRequirementMet(req.regex)">
            <span class="dot"></span>
            <small>{{ req.label }}</small>
          </div>
        }
      </div>
    </fieldset>

    <fieldset>
      <input formControlName="confirmPassword" type="password" placeholder="Confirmar Contraseña" />
      @if (registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordMismatch')) {
        <small>Las contraseñas no coinciden</small>
      }
    </fieldset>
  
    <button class="submit-button" type="submit">Registrarse</button>
  </form>
  