<form [formGroup]="orderForm" (ngSubmit)="addToCart()">
  <legend>{{ editingOrderId ? 'Editar Pedido' : 'Sube tu archivo' }}</legend>
  <fieldset>
    <div class="file-input-wrapper" (click)="!editingOrderId && fileInput.click()">
      <span>{{ selectedFileName }}</span>
      <input accept=".pdf,image/*" type="file" #fileInput (change)="onFileSelected($event)" id="fileUpload"
        [attr.disabled]="editingOrderId ? true : null">
    </div>
    <p>
      <legend>Paginas y anillado</legend>
      <strong>Información del archivo:</strong>
      <ng-container *ngIf="selectedFile || editingOrderId; else noFile">
        <span *ngIf="isPdf || (editingOrderId && selectedFileName.toLowerCase().endsWith('.pdf'))">
          Páginas: {{ pageCount ?? 'Cargando...' }}
        </span>
        <span
          *ngIf="isImage || (editingOrderId && (selectedFileName.toLowerCase().endsWith('.png') || selectedFileName.toLowerCase().endsWith('.jpg') || selectedFileName.toLowerCase().endsWith('.jpeg')))">
          Dimensiones: {{ imageWidth ?? 0 }}x{{ imageHeight ?? 0 }} px
        </span>
      </ng-container>
      <ng-template #noFile>-</ng-template>
    </p>
  </fieldset>
  <fieldset>
    <label for="copies">Número de copias:</label>
    <input type="number" id="copies" formControlName="copies" min="1">
  </fieldset>
  <fieldset>
    <label for="doubleSided">Doble cara</label>
    <input type="checkbox" id="doubleSided" formControlName="doubleSided">
    <label for="color">Color</label>
    <input type="checkbox" id="color" formControlName="color">
  </fieldset>
  <fieldset>
    <label for="binding">Anillado:</label>
    <select id="binding" formControlName="binding">
      <option value="NONE">Sin anillado</option>
      <option value="RINGED">Anillado</option>
      <option value="STAPLED">Abrochado</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="comments">Comentarios:</label>
    <textarea id="comments" formControlName="comments"></textarea>
  </fieldset>

  @if (calculatedPrice !== null) {
  <section class="result">
    <h3>Precio total: ${{ calculatedPrice }}</h3>
  </section>
  }
  @if (isLoading) {
  <div class="spinner">Cargando...</div>
  }
  <button type="submit" [disabled]="!orderForm.valid || (!selectedFile && !editingOrderId) || isLoading">
    {{ editingOrderId ? 'Actualizar Pedido' : 'Agregar al Carrito' }}
  </button>
</form>