footer {
  background: linear-gradient(180deg, #C55DFF 0%, #FF935D 100% );
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: auto;
}

footer p {
  margin: 0;
}


